#g-header {
  background-color: $white;
  box-shadow: none;
  border-bottom: $border;
  >.g-container {
    height: $header-height;
    line-height: $header-height;
  }

  .g-content {
    margin: 0;
  }
}

.g-logo {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 770px) {
  #g-header .g-logo img {
    width: 140px !important;
    height: auto;
  }

  .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    font-size: 30px; // making the hamburger clickable size
    color: #7BA93F;
  }
}